@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
    --vermelho-claro: hsl(7, 99%, 70%);
    --amarelo: hsl(51, 100%, 49%);
    --ciano-escuro-de-saturado: hsl(167, 40%, 24%);
    --azul-escuro: hsl(198, 62%, 26%);
    --ciano-escuro-moderado: hsl(168, 34%, 41%);
    --azul-escuro-de-saturado: hsl(212, 27%, 19%);
    --azul-cinzado: hsl(213, 9%, 39%);
    --azul-escuro-cinzado: hsl(232, 10%, 55%);
    --azul-claro-cinzado: hsl(210, 4%, 67%);
    --branco: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    background: url('../images/desktop/image-header.jpg') no-repeat bottom center;
    background-size: cover;
    padding: 2em 1em;
    height: 600px;
}

header nav > div.nav-bar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 1.2em;
}

header > nav ul{
    position: relative;
    background-color: white;
    display: none;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: var(--azul-escuro-cinzado);
    margin-top: 2em;
    height: 275px;
}

header > nav ul li#destaque-contato{
    padding: 1em 1.5em;
    color: black;
    background-color: var(--amarelo);
    border-radius: 5em;
    font-family: 'Fraunces', sans-serif;
    font-size: .9em;
    text-transform:uppercase;
}


header nav > div.nav-bar > img#menu{
    height: 80%;
}

header  h1{
    margin: 2em .5em .6em .5em;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.7em;
    text-transform: uppercase;   
    color: var(--branco);
    text-align: center;
    letter-spacing: .16em;
}

header  img#flecha{
    display: block;
    margin: auto;
}

main{
    text-align: center;
}

section.principal{
    font-family: 'Fraunces',serif;
}

div.conteudo{
    margin: 2.5em 1em;
}

section.sobre h2{
    padding: 0 1em;
    color: var(--azul-escuro-de-saturado);
    font-weight: 900;
    font-size: 2em;
}

div.learn-more > .img-cel{
    display: block;
    width: 100%;
}

section > div.learn-more > .img-desktop{
    display: none;
}

div.conteudo p{
    padding: 1em 1.5em;
    font-family: 'Barlow', sans-serif;
    color: var(--azul-cinzado);
    line-height: 25px;
}

div.conteudo a{
    text-transform: uppercase;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: var(--azul-escuro-de-saturado);
    text-decoration: underline hsl(51deg 100% 49% / 43%) 5px;
    border-radius: 5px;
}

div#ovo a:hover{
    text-decoration: underline var(--amarelo) 5px;
    cursor: pointer;
}

div#copo > div.conteudo a{
    text-decoration: underline hsl(7deg 99% 70% / 43%) 5px;
}

div#copo > div.conteudo a:hover{
    text-decoration: underline var(--vermelho-claro) 5px;
    cursor: pointer;
}

section.frases div.texto{
    padding: 25em 1em 0em 1em;
}

section#cereja{
    background:url('../images/mobile/image-graphic-design.jpg') no-repeat top center;
    background-size: contain;
    height: 600px;
    color: var(--ciano-escuro-de-saturado);
}

section#laranja{
    background:url('../images/mobile/image-photography.jpg') no-repeat top center;
    background-size: contain;
    height: 600px;
    color: var(--azul-escuro);
}

section.frases h2{
    font-size: 1.7em;
    text-shadow: .3px .4px .5px;
}

section.frases p{
    margin-top: 1.2em;
    font-family: 'Barlow',serif;
    font-weight: bolder;
}

section.testimonials{
    margin: 0em 2em;
}

section.testimonials h3{
    margin:2em 0em;
    text-transform:uppercase;
    letter-spacing: 0.3em;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 1em;
    color: var(--azul-claro-cinzado);
}

section.testimonials img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

section.testimonials div p:nth-child(2){
    padding: 1.7em 1em;
    font-family: 'Barlow', sans-serif;
    color: var(--azul-cinzado);
    font-size: .95em;
    line-height: 1.5em;
}

section.testimonials div p:nth-child(3){
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    color: var(--azul-escuro-de-saturado);
}

section.testimonials div p:nth-child(4){
    padding: .4em 0em 3em 0em;
    font-size: .8em;
    font-family: 'Barlow', sans-serif;
    color: var(--azul-claro-cinzado);
}

section.imagens{
    display: grid;
    grid-template-columns: 50% 50%;
}

section.imagens img{
    width: 100%
}

footer{
    background-color: hsl(168, 37%, 58%);;
    padding: 4.5em 2em;
    color: var(--ciano-escuro-de-saturado);
    width: 100%;
    height: 100%;
}

footer > a > svg{
    display: block;
    margin: auto;
    fill: var(--ciano-escuro-de-saturado);
}

footer > div.sobre{
    padding: 2em 0 4em 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif;
    color: var(--ciano-escuro-moderado)
}

footer > div.socials{
    display: flex;
    justify-content: space-evenly;
}

footer > div.socials ion-icon {
    color: var(--ciano-escuro-de-saturado) ;
}

div.sobre p:hover{
    color:white
}

div.socials ion-icon:hover{
    color: white;
}
